* {
	box-sizing: border-box;
	font-family: montserrat;
}
.isi {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0px;
}
.side ul li{
	padding-bottom: 10px;
}
.side ul h2{
	text-align: center;
	border-width: 3px;
	border-bottom-style: solid;
	border-top-style: solid;
	background-color: #aae4e6;
	margin-left : -40px;
	margin-top : 0px;
	padding-bottom: 20px;
	padding-top: 22px;
}
.side {
	background-color: #dee7e4;
	margin-left: 0px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-width: 3px;
	flex :5%;
	/*background-image: url(img/background.png);*/
}
.side ul li a{
	text-decoration: none;
}
.side ul li a:hover{
	color: red;
	font-size: 30px;
	transition: 0.5s;
}
.main {
	flex: 70%;
	text-align: justify;
	border-bottom-style: solid;
	border-right-style: solid;
	margin-top: -2px;
	margin-left: -2px;
	border-width: x1px;
}
.main tr td{
	padding-left: 8px;
}
.main tr th{
	padding-left: 8px;
}
.main h2{
	text-align: center;
	border-width: 3px;
	border-bottom-style: solid;
	border-top-style: solid;
	border-left-style: solid;
	border-left-width: 3px;
	background-color: #5883fa;
	margin-left : 0px;
	margin-top : 2px;
	padding-bottom: 20px;
	padding-top: 22px;
}